* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Spoqa Han Sans Neo","Spoqa Han Sans","SpoqaHanSans","Lato","Source Han Sans K","NotoSansCJKkr","Noto Sans KR",sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
  color: #424242;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color: #282828;
  text-decoration: none;
}

ul, li, ol, dl {
  list-style: none;
}

[type=text], [type=number], [type=tel], [type=file], [type=password], [type=email], [type=search], [type=url], textarea {
  vertical-align: middle;
  box-sizing: border-box;
  width: 100%;
  min-width: 12rem;
  height: 4rem;
  padding: 0 1.6rem;
  border: 0.1rem solid #d3d3d3;
  border-radius: 0;
  background: #fff;
  font-size: 1.2rem;
  color: #424242;
  line-height: 4rem;
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=checkbox] {
  display: inline-block;
  width: 1.4rem;
  height: 1.4rem;
  cursor: pointer;
  outline: 1px solid #6e6e73;
  appearance: none;
}

input[type=checkbox]:checked {
  background-color: #f00 !important;
  /* display: inline-block;
  width: 1.4rem;
  height: 1.4rem;
  cursor: pointer;
  outline: 1px solid #6e6e73;
  appearance: none; */
}

[readonly=readonly], [disabled=disabled] {
  background-color: rgba(204,206,210,.5);
  color: #424242;
}